body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font: 3rem;
}
.timer {
  padding: 20px;
  border: 2px solid #ffffff;
  border: radius 10px;
}
